.general-container{
  width: 100%;
  border-bottom: 1px solid #b1b1b1;
}
.title{
  width: 100%;
  border-bottom: 1px solid #b1b1b1;
  text-align: center;
}

.title p {
  font-family: 'Montserrat', serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 10px;
}

.tag{
  margin-left: 60px;
  margin-top: 30px;
  margin-right: 60px;
}

.tag-item{
  background-color: white;
  font-family: 'Montserrat', serif;
  font-size: 12px;
  margin-bottom: 10px;
  transition: .4s;
  border: 1px solid #b1b1b1;
  border-radius: 3px;
}

.tag-item a{
  color: black !important;
  font-weight: 500;
}