<div class="general-holder">
  <div class="image"></div>

  <div class="row">
    <div class="left">
      <app-content-left-social-media-icons></app-content-left-social-media-icons>
    </div>
    <div class="right">
      <div class="content-holder">
        <div class="row">
          <p class="category">History</p>
          <p class="date">12.12.2020</p>
        </div>
        <div class="text-container">
          <p class="title">FOR ILLUSTIRATOR DORIS LIOU "DRAWINGS ARE ABOUT WHAT YOU WANT TO SHOW OTHERS"</p>
          <p class="text" [innerHtml] = "text"></p>
        </div>
      </div>
    </div>
  </div>
</div>
