.brand{
  font-size: 18px;
  font-family: 'Merriweather', serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px;
  color: black;
}

.nav-bar-item{
  font-family: 'Merriweather', serif;
  text-transform: uppercase;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  color: black;
}