<div class="nav-bar">
  <div class="left-side">
    <h1>Bilgics</h1>

    <ul>
      <li matRipple [matRippleCentered]="centered" [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded"
      [matRippleRadius]="radius" [matRippleColor]="color">Fashion</li>
      <li matRipple [matRippleCentered]="centered" [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded"
      [matRippleRadius]="radius" [matRippleColor]="color">Interviews</li>
      <li matRipple [matRippleCentered]="centered" [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded"
      [matRippleRadius]="radius" [matRippleColor]="color">Design</li>
      <li matRipple [matRippleCentered]="centered" [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded"
      [matRippleRadius]="radius" [matRippleColor]="color"><i class="more" nz-icon nzType="ellipsis" nzTheme="outline"></i></li>
    </ul>
  </div>
  <div class="right-side">
    <div class="general-right-holder">
      <ul>
        <li>Monday, 19 January 2020</li>
        <div style="margin-left: 40px;"></div>
        <li matRipple [matRippleCentered]="centered" [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded"
        [matRippleRadius]="radius" [matRippleColor]="color"><i class="search" nz-icon nzType="search" nzTheme="outline"></i>Search</li>

      </ul>
    </div>
  </div>
</div>