<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="brand" href="#">Bilgics</a>
  <button class="navbar-toggler" (click) = "showNavigation()" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="{'show': isActive}" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active" matRipple [matRippleCentered]="centered" [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded"
      [matRippleRadius]="radius" [matRippleColor]="color"> 
        <a class="nav-bar-item" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" matRipple [matRippleCentered]="centered" [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded"
      [matRippleRadius]="radius" [matRippleColor]="color">
        <a class="nav-bar-item" href="#">Features</a>
      </li>
      <li class="nav-item" matRipple [matRippleCentered]="centered" [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded"
      [matRippleRadius]="radius" [matRippleColor]="color">
        <a class="nav-bar-item" href="#">Pricing</a>
      </li>
      <li class="nav-item dropdown">
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>