<div class="row">
  <div class="col-12 col-md-6" *ngFor = "let card of cards">
    <div class="card" (click) = "navigateURL(card.title)" matRipple [matRippleCentered]="centered" [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded"
    [matRippleRadius]="radius" [matRippleColor]="color">
      <div class="category">
        <p>{{card.cardCategory}}</p>
      </div>
      <div class="card-image"[ngStyle]="{'background-image': 'url('+ card.imageUrl +')'}"></div>
      <div class="card-title-text">
        <p>{{card.title}}</p>
      </div>
      <div class="card-title-desc">
        <p>{{card.description}}</p>
      </div>
      <div class="card-title-date">
        <p>{{card.saveDate}}</p>
      </div>
    </div>
  </div>
</div>
