<div class="general-holder">
  <div class="row">
    <ul class="first-side">
      <li>Home</li>
      <li>About</li>
      <li>Deneme</li>
    </ul>

    <ul class="second-side">
      <li>deneme2</li>
      <li>deneme3</li>
    </ul>

    <ul class="third-side">
      <li><a href="#"><i nz-icon nzType="facebook" nzTheme="outline"></i></a></li>
      <li><a href="#"><i nz-icon nzType="twitter" nzTheme="outline"></i></a></li>
      <li><a href="#"><i nz-icon nzType="instagram" nzTheme="outline"></i></a></li>
    </ul>
  </div>
</div>