<div class="general-holder">
  <div class="row">
    <ul class="first-side">
      <li> <a href="#">Home</a> </li>
      <li> <a href="#">About</a> </li>
      <li> <a href="#">Deneme</a> </li>
    </ul>

    <ul class="second-side">
      <li> <a href="#"> deneme2 </a></li>
      <li> <a href="#"> deneme3 </a></li>
    </ul>

    <ul class="third-side">
      <li><a href="#"><i nz-icon nzType="facebook" nzTheme="outline"></i></a></li>
      <li><a href="#"><i nz-icon nzType="twitter" nzTheme="outline"></i></a></li>
      <li><a href="#"><i nz-icon nzType="instagram" nzTheme="outline"></i></a></li>
    </ul>
  </div>
</div>