.general-holder{
  width: 100%;
  border-top: 1px solid black;
  margin-bottom: 60px;
}

/*First side 4 elements*/
.first-side{
  margin-left: 20px;
  margin-top: 30px;
}

.first-side li{
  list-style: none;
}

.first-side li a{
  color: black;
  font-family: 'Montserrat', serif;
  font-weight: 600;
}

/*Second side bottom elements*/
.second-side{
  margin-top: 30px;
  margin-left: 80px;
}
.second-side li{
  list-style: none;
}

.second-side li a{
  color: black;
  font-family: 'Montserrat', serif;
  font-weight: 600;
}


/*Right side social media icons*/
.third-side{
  position: absolute;
  margin-top: 30px;
  right: 70px;
  display: flex;
  flex-direction: row;
}

.third-side li{
  list-style: none;
  font-family: 'Montserrat', serif;
}

.third-side li a{
  color: black;
  font-size: 16px;
  margin-left: 20px;
}